@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'vendor/libs';
@import 'base/fonts';
@import 'base/general';
@import '../blocks/components/components';
@import '../blocks/modules/modules';

.shop-list {
  background-color: rgb(228, 228, 228);
  padding: 40px;
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.item {
  cursor: pointer;
  margin: 10px 0;
  list-style: none;
}

.item:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: space-around;
}

.apiAnswer {
  text-align: center;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.apiImage {
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: all 3s linear;
  animation: bounce 3s 1, show 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes bounce {
  from {
    top: 100px;
    animation-timing-function: ease-out;
  }
  25% {
    top: 50px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 100px;
    animation-timing-function: ease-out;
  }
  75% {
    top: 75px;
    animation-timing-function: ease-in;
  }
  to {
    top: 100px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}